In [ ]:
#Number, booleans, strings

In [4]:
#lists, tuples, dictionaries and sets
#creating a empty list and adding numbers

#list.append(x) :add an item to the end of the list
#list.pop(): removes and returns the last item in the list

li1 = []
li1.append(1) # li is now [1]
li1.append(2) # li is now [1, 2]
li1.pop() # removes and returns the last element

[1]

In [21]:
#list
li1 = ['a', 2, False] # not all elements need to be the same type
li1 = [[3], [3, 4], [1, 2, 3]] # even lists of lists
li1 = [2,3,4,1]


#list methods (remove, insert, locate position of each component, extend list)
#list.insert(i,x) insert an item x at a given position i
#list.remove(x) remove the first item from the list whose value is equal to x
#list.extend(iterable) extend the list by appending all the items from the iterable

#del li1[2] #delete one element in the list

[2, 200, 3, 4, 3, 5, 7, 9, 0, 1, 2]

In [22]:
#for loop in list
for num in li1:
    print(num)    
    
#5 in li1

2
200
3
4
3
5
7
9
0
1
2

In [64]:
#while loop
x = 0
while x<5:
    print(x)
    x = x+1
    #x += 1

0
1
2
3
4

In [33]:
#for loop and range()
#range(lower, upper, step) create a sequence of numbers
list(range(0,3))
list(range(0,10,2)) 
#for number in range(0,10,2):
 #   print(number)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
#create a list with squares of integers less than 10
#1 for loop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
#create a list with squares of integers less than 10 
#2 list comprehension

#list comprehension
#a shorter syntax of for loop
#create a new list based on the values of an existing list

#syntax
#output_list = [item for item in existing_list if (condition to be satisfied) ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
#list comprehension
#example 2
#create a newlist which contains letters with letter "a" in the name

fruits = ["Apple", "banana", "cherry", "kiwi", "mango", "Avocado", "blackberry"]

['Apple', 'banana', 'cherry', 'kiwi', 'mango', 'Avocado', 'blackberry']

In [41]:
#create a list with squares of integers less than 10
#3 lambda & map()

#lambda: used to define an anonymous function in Python, similar to 'def'
#syntax: lambda arguments: experssion ()

#map()
#syntax: map(fun, ite)
#apply the given function to each item of a given iterable (list, tuple, set, dictionary etc.)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
#user-defined function
def add(x, y):
    #print("x is {} and y is {}".format(x,y))
    return x + y # return value

#compare with the lambda method



add(4,5)

9

In [66]:
#Tuples: similar to lists but are immutable, meaning that elements cannot be added or removed after creation
#When to use tuple? 
#Choose tuple if elements don't change 

tup = (1,2,3)


#locate elements in tuple, delete, extend tuple

3

In [111]:
#Sets: also similar to lists, but they store a unique and unordered collection of items, with no duplicates


set1 = set()   #create an empty set
set2 = {3,3,5,7,8,2,10}   #set will automatically reorder the number and delete duplicates
set3 = {'a','a','b',3,5}



#set operations

            #find intersection between two sets
            #union two sets
            #find elements in set2 but not in set 3
            #find elements in set2 or set3 but not both

{10, 11, 2, 7, 8, 'a', 'b'}

In [81]:
#Set comprehension
#Create a set with unique characters other than 'abc' in the following string 
check_char = 'abracadabra'

set

In [116]:
#Dictionaries store a mapping between a series of unique keys and values
#Dictionaries are indexed by immutable keys (strings, numbers, tuples)

dic1 = {}
dic1 = {"one": 1, "two": 2, "three": 3}

dic1["three"]

#create a dictionary with dict()
a = [('a',1),('b',2),('c',3)]
dic2 = dict(a)

#separate keys and values with method values() and keys()



#get a specific value from a dictionary, with method get()


#update and remove dictionary element with method update() and del statement



#check whether a value/key is in a dictionary

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [116]:
#dict comprehensions 
#can be used to create dictionaries from arbitrary key and value expressions

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}