<a href="https://colab.research.google.com/github/unitxero/CIS_3120/blob/main/CIS3120_In_Class_0203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Number, booleans, strings

In [2]:
#lists, tuples, dictionaries and sets
#creating a empty list and adding numbers

#list.append(x) :add an item to the end of the list
#list.pop(): removes and returns the last item in the list

li1 = []
li1.append(1) # li is now [1]
li1.append(2) # li is now [1, 2]
#li1.pop() # removes and returns the last element
li1

[1, 2]

In [3]:
#li1.pop(1) # removes the index 1, which is the integer 2, and keeps the remaining
# integer in the list, which is just 1
li1

[1, 2]

In [4]:
#list
li1 = ['a', 2, False] # not all elements need to be the same type
li2 = [[3], [3, 4], [1, 2, 3]] # even lists of lists
li3 = [2,3,4,1]


#list methods (remove, insert, locate position of each component, extend list)
#list.insert(i,x) insert an item x at a given position i
#list.remove(x) remove the first item from the list whose value is equal to x
#list.extend(iterable) extend the list by appending all the items from the iterable

#del li1[2] #delete one element in the list
li1

['a', 2, False]

In [5]:
li2

[[3], [3, 4], [1, 2, 3]]

In [6]:
li3

[2, 3, 4, 1]

In [7]:
li3.insert(1, 300) # inserting 300, at index 1
li3

[2, 300, 3, 4, 1]

In [8]:
li3.remove(2) # removing the first value of 2, from the list
li3

[300, 3, 4, 1]

In [9]:
li3.extend(range(3)) # extending list 3, with 3 more numbers, 0,1,2
li3

[300, 3, 4, 1, 0, 1, 2]

In [10]:
li3.extend(li2) # adding a list to a list. We now have multiple lists in the list
li3

[300, 3, 4, 1, 0, 1, 2, [3], [3, 4], [1, 2, 3]]

In [11]:
del li1 # deleting li1
li1 # an error should occur, as the entire li1 is deleted
# using del list[index] can remove a specific index within the list

NameError: ignored

In [12]:
#for loop in list
for num in li1:
    print(num)    
    
#5 in li1

NameError: ignored

In [ ]:
#while loop
x = 0
while x<5:
    print(x)
    x = x+1
    #x += 1

In [15]:
#for loop and range()
#range(lower, upper, step) create a sequence of numbers
list(range(0,3))
list(range(0,10,2)) 
#for number in range(0,10,2):
 #   print(number)

[0, 2, 4, 6, 8]

In [ ]:
#create a list with squares of integers less than 10
#1 for loop

In [16]:
# creating a list with squares of integers less than 10

num_list = []
for num in range(10):
  num_list.append(num ** 2)
  print(num_list)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#create a list with squares of integers less than 10 
#2 list comprehension

#list comprehension
#a shorter syntax of for loop
#create a new list based on the values of an existing list

#syntax
#output_list = [item for item in existing_list if (condition to be satisfied) ]

In [ ]:
num_list3 = [x ** 2 for x in range(10)]
num_list3

In [ ]:
#list comprehension
#example 2
#create a newlist which contains letters with letter "a" in the name

fruits = ["Apple", "banana", "cherry", "kiwi", "mango", "Avocado", "blackberry"]

In [ ]:
fruit_list = []        # checking for 'a' or 'A' in our fruits list
for f in fruits:
  if 'a' in f or 'A' in f:
    fruit_list.append(f)
  print(fruit_list)

In [14]:
#create a list with squares of integers less than 10
#3 lambda & map()

#lambda: used to define an anonymous function in Python, similar to 'def'
#syntax: lambda arguments: expression ()

#map()
#syntax: map(fun, ite)
#apply the given function to each item of a given iterable (list, tuple, set, dictionary etc.)


list(map(lambda x:x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#user-defined function
def add(x, y):
    #print("x is {} and y is {}".format(x,y))
    return x + y # return value

#compare with the lambda method



add(4,5)

In [ ]:
add = lambda x,y: x+y # lambda example
#add(1,1)
add(100, 50)

In [13]:
list(map(lambda x:x+x, [3,5,7])) #lambda with map

[6, 10, 14]

In [18]:
# Tuples: similar to lists but are immutable,
# meaning that elements cannot be added or removed after creation
# When to use tuple? 
# Choose tuple if elements don't change 

tup = (1,2,3)


#locate elements in tuple, delete, extend tuple
tup[1]

2

TypeError: ignored

In [ ]:
#Sets: also similar to lists, but they store a unique and unordered collection of items, with no duplicates


set1 = set()   #create an empty set
set2 = {3,3,5,7,8,2,10}   #set will automatically reorder the number and delete duplicates
set3 = {'a','a','b',3,5}



#set operations

            #find intersection between two sets
            #union two sets
            #find elements in set2 but not in set 3
            #find elements in set2 or set3 but not both

In [ ]:
#Set comprehension
#Create a set with unique characters other than 'abc' in the following string 
check_char = 'abracadabra'

In [ ]:
#Dictionaries store a mapping between a series of unique keys and values
#Dictionaries are indexed by immutable keys (strings, numbers, tuples)

dic1 = {}
dic1 = {"one": 1, "two": 2, "three": 3}

dic1["three"]

#create a dictionary with dict()
a = [('a',1),('b',2),('c',3)]
dic2 = dict(a)

#separate keys and values with method values() and keys()



#get a specific value from a dictionary, with method get()


#update and remove dictionary element with method update() and del statement



#check whether a value/key is in a dictionary

In [ ]:
#dict comprehensions 
#can be used to create dictionaries from arbitrary key and value expressions